@font-face {
    font-family: font1;
    src: url(fonts/1.ttf);
}
@font-face {
    font-family: font2;
    src: url(fonts/2.ttf);
}
@font-face {
    font-family: font3;
    src: url(fonts/3.ttf);
}
@font-face {
    font-family: font4;
    src: url(fonts/4.ttf);
}
@font-face {
    font-family: font5;
    src: url(fonts/5.ttf);
}
@font-face {
    font-family: font6;
    src: url(fonts/6.otf);
}
@font-face {
    font-family: font7;
    src: url(fonts/7.otf);
}
@font-face {
    font-family: font8;
    src: url(fonts/8.otf);
}
@font-face {
    font-family: font9;
    src: url(fonts/9.otf);
}
@font-face {
    font-family: font10;
    src: url(fonts/10.ttf);
}
@font-face {
    font-family: font11;
    src: url(fonts/11.ttf);
}
@font-face {
    font-family: font12;
    src: url(fonts/12.ttf);
}
@font-face {
    font-family: font13;
    src: url(fonts/13.ttf);
}
@font-face {
    font-family: font14;
    src: url(fonts/14.ttf);
}
@font-face {
    font-family: font15;
    src: url(fonts/15.ttf);
}
@font-face {
    font-family: font16;
    src: url(fonts/16.ttf);
}
